@tailwind base;
@tailwind components;
@tailwind utilities;



.font-fira {
  --font-family: 'fira', sans-serif;
}

.font-lexend {
  --font-family: 'lexend', serif;
}

.banner-btn {
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  color: white;
  padding: 5px 12px;
  border: 1px solid white;
  border-radius: 50px;
}
.banner-btn:hover {
  border: none;
  color: black;
  background: rgb(11, 229, 138);
}


.main-btn {
  font-size: 18px;
  font-weight: 500;
  background: rgb(0, 255, 149);
  color: black;
  padding: 5px 18px;
  border-radius: 50px;
}
.main-btn:hover {
  color: white;
  background:#11ab3a
}

.table-btn {
  font-size: 14px;
  font-weight: 500;
  background: rgb(0, 255, 149);
  color: black;
  padding: 5px 12px;
  border-radius: 50px;
}
.table-btn:hover {
  color: white;
  background:#11ab3a
}


@media (min-width: 300px) and (max-width: 475px) {
  .banner-btn, .main-btn, .table-btn {
    font-size: 14px;
    padding: 4px 10px;
  }
}

